[mysqld]

skip-name-resolve
default_authentication_plugin = mysql_native_password
server-id = 2
#relay-log = /var/log/mysql/mysql-relay-bin.log
#log_bin = /var/log/mysql/mysql-bin.log
log_bin = 1
binlog_do_db = students-management
replicate-do-db = students-management
